.list{
    width:100%;
    background-color:#fff;
    font-family: 'Microsoft YaHei', 'Avenir', Helvetica, Arial, sans-serif;
    padding:10px;
    font-size:14px;
}
.list-title{
    color:#3c8dbc;
    font-size:15px;
    font-weight: 650;
}
.list-table{
    margin:20px;
    overflow: auto;
}
table{
    width:100%;
}
td,th{
    /* text-align: center; */
    border:1px solid #eee;
    padding:10px;
}
th{
    font-size:15px;
}
.btn{
    min-width: 80px;
    text-align: center;
    border-radius: 3px ;
    cursor: pointer;
    display: inline-block;
    padding: 4px 12px;
    border: 0;
}
.btn-blue{
    background-color: #3c8dbc;
    color: #FFF;
}
.btn-blue:hover{
    background-color: #2ab1ff;
    color: #FFF;
}
.text-blue{
    color: #3c8dbc;
    font-size:15px;
    font-weight: 650;
    cursor: pointer;
    margin:0 5px;
}
.menu-active{
    color:#fff;
    background-color:#000;
}